<div class="jumbotron">
    <h1>Interview Project</h1>
    <p class="lead">This is a full stack project for an interview.</p>
    <p><a href="@Url.Action("Login", "Home")" class="btn btn-primary btn-lg">Start Here &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Backend</h2>
        <p>ASP.NET Web API is a framework</p>        
        <p>ASP.NET Identity</p>
        <p>HTML, CSS, Javascript</p>
        <p>JQuery,Ajax</p>
    </div>
    <div class="col-md-4">
        <h2>FrontEnd</h2>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>JQuery</p>
        <p>Ajax</p>
    </div>
    <div class="col-md-4">
        <h2>Database</h2>
        <p>Microsoft SQL</p>
        <p>EntityFramework</p>
    </div>
</div>
